<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.modelsw.birdingviamic" >


    <application
        android:theme="@style/AppTheme"
        android:icon="@drawable/treble_clef_linen"
        android:label="@string/app_name">
        <!--This meta-data tag is required to use Google Play Services.
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
            -->
        <activity
            android:name="com.modelsw.birdingviamic.Main"
            android:screenOrientation="portrait"
            android:exported="true"
            android:requestLegacyExternalStorage="true"
            android:background="@color/black">
            <intent-filter>
                <action android:name="android.intent.ActionBarActivity" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity  android:name="com.modelsw.birdingviamic.PlaySong"
            android:label="@string/playsong_title"
            android:screenOrientation="portrait"
            android:background="@color/black">
        </activity>
        <activity  android:name="com.modelsw.birdingviamic.RecordSong"
            android:label="@string/recordsong_title"
            android:screenOrientation="portrait"
            android:background="@color/black">
        </activity>
        <activity  android:name="com.modelsw.birdingviamic.SongList"
            android:label="@string/songlist_title"
            android:screenOrientation="portrait"
            android:background="@color/black">
        </activity>
        <activity  android:name="com.modelsw.birdingviamic.StartCnn"
            android:label="@string/start_cnn_lable"
            android:screenOrientation="portrait"
            android:background="@color/black">
        </activity>
        <activity  android:name="com.modelsw.birdingviamic.GetCnnId"
            android:label="@string/get_cnn_id"
            android:screenOrientation="portrait"
            android:background="@color/black">
        </activity>
        <activity  android:name="com.modelsw.birdingviamic.PermissionDetail"
            android:label="@string/permission_title"
            android:screenOrientation="portrait"
            android:background="@color/black">
        </activity>
        <activity  android:name="com.modelsw.birdingviamic.Alert1ButtonDialog"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeDialog">
        </activity>
        <activity  android:name="com.modelsw.birdingviamic.Alert3ButtonDialog"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeDialog"  >
        </activity>
        <activity  android:name="com.modelsw.birdingviamic.IdentifyDialog"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeDialog"  >
        </activity>
        <activity  android:name="com.modelsw.birdingviamic.NewNameDialog"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeDialog"  >
        </activity>
        <activity  android:name="com.modelsw.birdingviamic.NewSpecDialog"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeDialog" >
        </activity>
        <activity  android:name="com.modelsw.birdingviamic.NewWebDialog"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeDialog" >
        </activity>
        <activity  android:name="com.modelsw.birdingviamic.UpgradeDialog"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeDialog" >
        </activity>
        <activity  android:name="com.modelsw.birdingviamic.SpeciesList"
            android:label="@string/spec_title"
            android:screenOrientation="portrait"
            android:background="@color/black">
        </activity>
        <activity  android:name="com.modelsw.birdingviamic.SelectSongPath"
            android:label="@string/songpath_title"
            android:screenOrientation="portrait"
            android:background="@color/black">
        </activity>
        <activity  android:name="com.modelsw.birdingviamic.Options"
            android:label="@string/options_title"
            android:screenOrientation="portrait"
            android:background="@color/black">
        </activity>
        <activity  android:name="com.modelsw.birdingviamic.AudioRecorder"
            android:label="@string/recordsong_title"
            android:screenOrientation="portrait"
            android:background="@color/black" >
        </activity>
        <activity  android:name="com.modelsw.birdingviamic.RedList"
            android:label="@string/redlist_label"
            android:screenOrientation="portrait"
            android:background="@color/black">
        </activity>
        <activity  android:name="com.modelsw.birdingviamic.RegionList"
            android:label="@string/region_title"
            android:screenOrientation="portrait"
            android:background="@color/black">
        </activity>
        <activity  android:name="com.modelsw.birdingviamic.Backup"
            android:label="@string/backup_label"
            android:screenOrientation="portrait"
            android:background="@color/black">
        </activity>
        <activity  android:name="com.modelsw.birdingviamic.MyList"
            android:label="@string/my_list"
            android:screenOrientation="portrait"
            android:background="@color/black">
        </activity>
        <activity  android:name="com.modelsw.birdingviamic.HelpActivity"
            android:label="@string/help_title"
            android:screenOrientation="portrait"
            android:background="@color/black">
        </activity>
        <activity  android:name="com.modelsw.birdingviamic.ShowLocation"
            android:label="@string/location_title"
            android:screenOrientation="portrait"
            android:background="@color/black">
        </activity>
        <activity  android:name="com.modelsw.birdingviamic.WebBrowser"
            android:label="@string/show_web_title"
            android:screenOrientation="portrait"
            android:background="@color/black">
        </activity>
        <activity  android:name="com.modelsw.birdingviamic.WebList"
            android:label="@string/weblist_title"
            android:screenOrientation="portrait"
            android:background="@color/black">
        </activity>
        <activity  android:name="com.modelsw.birdingviamic.Register"
            android:label="@string/register_title"
            android:screenOrientation="portrait"
            android:background="@color/black">
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="storage/emulated/0/Android/data/com.modelsw.birdingviamicnw/files/Song/"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="storage/emulated/0/Android/data/com.modelsw.birdingviamicow/files/Song/"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="storage/emulated/0/Android/data/com.modelsw.birdingviamicoa/files/Song/"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="storage/emulated/0/Android/data/com.modelsw.birdingviamicnac/files/Song/"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-feature android:name="android.hardware.location.gps" />

</manifest>